h1 {
  font-size: 4em;
}

h1, h2, h3, h4, h5, p, li, a {
  margin: 0em;
}

.rating {
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-color: #e3e3e3;
}

.rating p {
  font-size: 1.5em;
  margin: 1em;
}

.rating > input {
  width: 4em;
}

.card {
  display: flex;
  margin: 2em auto;
}

.wide {
  width: 100%;
}

.single-view {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.edit-delete-links, .save-cancel-links {
  display: flex;
  justify-content: space-between;
}

input, textarea {
  padding: 0.5em;
  width: 100%;
}
