h1 {
  font-size: 4em;
}

h1, h2, h3, h4, h5, p, li, a {
  margin: 0em;
}

ul.navbar-nav {
  width: 100%;
}

li.add-game {
  margin-left: auto;
}

button.add-game {
  width: 100%;
  margin: 0 auto;
}

.rating {
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-color: #e3e3e3;
}

.rating p {
  font-size: 1.5em;
  margin: 1em;
}

.rating > input {
  width: 4em;
}

.card {
  display: flex;
  margin: 2em auto;
}

.wide {
  width: 100%;
}

.single-view {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.edit-delete-links, .save-cancel-links {
  display: flex;
  justify-content: space-between;
  font-size: 2em;
}

input, textarea {
  padding: 0.5em;
  width: 100%;
}

@media (max-width:992px) {
  li.add-game {
    display: none;
  }
}

@media (min-width:991px) {
  button.add-game {
    display: none;
  }
}
